
Code/.classpath

Code/.settings/.jsdtscope

Code/.project

*.prefs

Code/.settings/org.eclipse.wst.common.component

Code/.settings/org.eclipse.wst.common.project.facet.core.xml

Code/.settings/org.eclipse.wst.jsdt.ui.superType.container

Code/.settings/org.eclipse.wst.jsdt.ui.superType.name

Code/WebContent/META-INF/MANIFEST.MF

*.apk
